<div class="profile-picture">
  <img *ngIf="profile.avatar" [src]="profile.avatar">
  <img *ngIf="!profile.avatar" src="../../assets/imgs/profile-placeholder.png">
  <button ion-button clear (click)="takePhoto()">Upload foto</button>
</div>
<ion-item class="login__component">
  <ion-label floating>Navn</ion-label>
  <ion-input [(ngModel)]="profile.name" type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Brugernavn</ion-label>
  <ion-input [(ngModel)]="profile.userName" type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Avatar URL</ion-label>
  <ion-input [(ngModel)]="profile.avatar" type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Telefon</ion-label>
  <ion-input [(ngModel)]="profile.phone" type="number"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Adresse</ion-label>
  <ion-input [(ngModel)]="profile.address" type="text"></ion-input>
</ion-item>
<div padding>
  <button color="orange" ion-button block (click)="saveProfile()">Save profile</button>
</div>
