<ion-item class="login__component">
  <!--<ion-label floating>E-mail</ion-label>-->
  <ion-input placeholder="E-mail" [(ngModel)]="account.email" type="email" color="green"></ion-input>
</ion-item>
<ion-item>
  <!--<ion-label floating>Password</ion-label>-->
  <ion-input placeholder="Password" [(ngModel)]="account.password" type="password"></ion-input>
</ion-item>
<div padding>
  <button ion-button block color="orange" (click)="login()">Login</button>
</div>
<div class="register-forgot">
  <button class="test" ion-button block clear>Glemt password?</button>
  <button ion-button block clear (click)="navigateToRegisterPage()">Opre konto</button>
</div>

