<ion-header>
  <ion-navbar color="green">
    <ion-title>Bandbuddy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div color="green">
    <ion-item>
      <div autofocus class="new-post" (click)="goToCreatePost()">
        Hvad vil du stige...?
      </div>
    </ion-item>

    <ion-card *ngFor="let post of postList | async">
      <ion-item>
        <ion-avatar item-start>
          <div class="img-circle">
            <img *ngIf="post.avatar" [src]="post.avatar">
          </div>
        </ion-avatar>
        <p float-right>{{ post.date | date: 'dd/MM/yyyy'}}</p>
      <h2 text-wrap>{{ post.author }}</h2>

      </ion-item>

      <ion-card-content>
        <p>{{ post.postContent }}</p>
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>
