<ion-header>
  <ion-navbar color="green">
    <ion-title>Bandbuddy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div color="green">
    <ion-item>
      <div autofocus class="new-post" (click)="goToCreatePost()">
        Hvad vil du sige...?
      </div>
    </ion-item>
    <ion-card *ngFor="let post of postList | async">
      <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img *ngIf="post.avatar" [src]="post.avatar">
          </ion-avatar>
          <ion-note item-end>{{ post.date | date: 'dd/MM/yyyy'}}</ion-note>
          <ion-icon name="more" item-end (click)="goToEditPost()"></ion-icon>
          <h2>{{ post.author}}</h2>
          <p>Skin Tuxedo</p>
        </ion-item>
      </ion-item-sliding>
      <ion-card-content>
        <p>{{ post.postContent }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
